---
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="flex justify-between dark:bg-neutral-900 dark:text-white border-b-[1px] px-3 py-2"
>
  <div class="flex items-center gap-x-1">
    <div class="h-4 w-4 bg-slate-950 dark:bg-white rounded-sm text-sm"></div>
    Sanstream
  </div>
  <form action="placeholder">
    <input
      class="border-2"
      type="text"
      placeholder="Categoria, Nombre del cana"
    />
    <button>Buscar</button>
  </form>
  <div class="flex gap-x-2 items-center justify-center">
    <button class="bg-gray-400 rounded-md px-2 py-1 text-sm dark:text-white"
      >Log in</button
    >
    <butto class="bg-red-300 rounded-md px-2 py-1 text-sm">Sign Up</butto>
    <ThemeIcon />
  </div>
</header>
<