---
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="relative flex justify-between bg-neutral-900 border-b-[2px] shadow-sm shadow-white/10   border-black px-3 py-3"
>
 

  </div>
  <div class="flex items-center gap-x-1">
    <div class="h-4 w-4 bg-rose rounded-sm opacity-80"></div>
    <h1 class=" font-semibold text-lg">Sanstream</h1>
  </div>
  <form action="placeholder">
    <input
      class="border-2 opacity-80 border-rose"
      type="text"
      placeholder="Categoria, Nombre del cana"
    />
    <button class="bg-zinc-700  shadow-md rounded-sm px-2 opacity-80">Buscar</button>
  </form>
  <div class="flex gap-x-2 items-center justify-center">
    <button class="bg-zinc-700  rounded-md px-2 py-1 text-sm text-white"
      >Log in</button
    >
    <button class="bg-rose  rounded-md px-2 py-1 text-sm">Sign Up</button>
    <!-- <ThemeIcon /> -->
  </div>
</header>
