---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
import { Input } from "./Input";
import { TooltipLogout } from "./Tooltip";
---

<header
  class="fixed top-0 left-0 z-10 w-full shadow-black/40 flex justify-between bg-primary shadow-xl px-7 py-4"
>
  <a href="/" class="flex items-center gap-x-2 hover:cursor-pointer">
    <div class="bg-rose rounded-md size-5"></div>
    <h1 class="text-white font-bold text-xl">Suitch</h1>
  </a>
  <Input client:visible />

  <div class="flex gap-x-2 items-center justify-center">
    {
      session ? (
        <div class="flex items-center gap-x-2">
          <img
            src={session.user?.image}
            alt={session.user?.name}
            class="w-8 h-8 rounded-full"
          />
          <form action="/api/auth/signout" method="post">
            <button
              id="logout"
              type="submit"
              class="bg-pink-400 flex rounded-md p-1 text-sm font-semibold text-white hover:bg-rose transition-colors  group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-logout"
              > 
                <>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                </> 
              </svg>
              <TooltipLogout />
            </button>
          </form>
        </div>
      ) : (
        <form action="/api/auth/signin" method="post">
          <input type="hidden" name="provider" value="twitch" />
          <button
            id="login"
            type="submit"
            class=" rounded-md p-1 text-sm font-semibold text-white  bg-pink-400 transition-colors hover:bg-rose px-2"
          >
            Login with Twitch
          </button>
        </form>
      )
    }
  </div>
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client");
  const loginButton = document.getElementById("login");
  const logoutButton = document.getElementById("logout");
  if (loginButton) {
    loginButton.addEventListener("click", async () => {
      console.log("Login clicked");
      await signIn("twitch");
    });
  }
  if (logoutButton) {
    logoutButton.addEventListener("click", async () => {
      await signOut();
    });
  }
</script>
