

<div id="recomended" class=" border-2 border-black w-[250px] h-screen text-xs flex flex-col  items-center"> 
    <h2 class=" font-semibold m-2">RECOMENDADED CHANNELS</h2>

    <!-- iteramos con un map  -->

</div>